USE [master]
GO
/****** Object:  Database [IssueTracking]    Script Date: 04-09-2025 04:27:39 PM ******/
CREATE DATABASE [IssueTracking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IssueTracking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV\MSSQL\DATA\IssueTracking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IssueTracking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV\MSSQL\DATA\IssueTracking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IssueTracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IssueTracking]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04-09-2025 04:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments_Table]    Script Date: 04-09-2025 04:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Attachments_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets_Table]    Script Date: 04-09-2025 04:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[AssignedToUserId] [int] NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tickets_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Table]    Script Date: 04-09-2025 04:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachments_Table_TicketId]    Script Date: 04-09-2025 04:27:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Attachments_Table_TicketId] ON [dbo].[Attachments_Table]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_Table_AssignedToUserId]    Script Date: 04-09-2025 04:27:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Table_AssignedToUserId] ON [dbo].[Tickets_Table]
(
	[AssignedToUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_Table_CreatedByUserId]    Script Date: 04-09-2025 04:27:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Table_CreatedByUserId] ON [dbo].[Tickets_Table]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attachments_Table]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Table_Tickets_Table_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets_Table] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachments_Table] CHECK CONSTRAINT [FK_Attachments_Table_Tickets_Table_TicketId]
GO
ALTER TABLE [dbo].[Tickets_Table]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Table_Users_Table_AssignedToUserId] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[Users_Table] ([Id])
GO
ALTER TABLE [dbo].[Tickets_Table] CHECK CONSTRAINT [FK_Tickets_Table_Users_Table_AssignedToUserId]
GO
ALTER TABLE [dbo].[Tickets_Table]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Table_Users_Table_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users_Table] ([Id])
GO
ALTER TABLE [dbo].[Tickets_Table] CHECK CONSTRAINT [FK_Tickets_Table_Users_Table_CreatedByUserId]
GO
USE [master]
GO
