**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.angular
**/node_modules
**/npm-debug.log
**/dist
**/coverage
**/.nyc_output
**/e2e
**/.editorconfig
**/.browserslistrc
**/karma.conf.js
**/protractor.conf.js
**/tsconfig.spec.json
**/src/**/*.spec.ts
**/src/**/*.spec.js
LICENSE
README.md
